{
    "master" : {
        "title": "RCJCMS - Production",
        "path": "/home/apps/apache/rcja.app/rcj_cms/",
        "migration_folder": "updates",
        "database_prefix": "rcj_cms",
        "repository": "robocupjunioraustralia/rcj_cms",
        "branch_ref": "refs/heads/master",
        "backup": true,
        "run_nightly": true,
        "pull_cmd": "git fetch --all && git status && git reset --hard origin/master && git pull origin master && git status",
        "build_cmd": "publish"
    },
    "develop" : {
        "title": "RCJCMS - Staging",
        "path": "/home/apps/apache/dev.rcja.app/rcj_cms/",
        "migration_folder": "updates",
        "database_prefix": "rcj_cms_dev",
        "repository": "robocupjunioraustralia/rcj_cms",
        "branch_ref": "refs/heads/develop",
        "backup": false,
        "run_nightly": true,
        "pull_cmd": "git fetch --all && git status && git reset --hard origin/develop && git pull origin develop && git status",
        "build_cmd": "build"
    }
}
